.about-header {
  width: 100vw;
  max-height: 700vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
}

.header-img-container {
  margin: -8vh 0 0 0;
  padding: 0;
  z-index: 2;
  width: 100vw;
  max-width: 1200px;
  position: relative;
  text-align: center;
}

.about-header-headline-container {
  position: absolute;
  top: 28%;
  left: 3%;

  width: 90%;

  opacity: 0;
  transform: translateY(-10%);
  animation: header-headline-smallscreen
    var(--header-headlines-smallscreen-load-time) ease-out
    var(--header-headlines-smallscreen-wait-time);
  animation-fill-mode: forwards;
}

.about-header-headline-container h1 {
  max-width: 600px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--yellow);
  text-align: left;
}

.about-headline-wrapper {
  margin: 100px auto;
}

.about-bio-first {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.about-bio-first div {
  padding: 0 1.5rem;
}

.about-paragraph-container {
  margin: 0 auto;
  max-width: 750px;
}

.about-bio-first p {
  padding: 1rem;
  max-width: 750px;
}

.about-img-container {
  text-align: center;
  margin: 50px 0;
}

@media screen and (min-width: 450px) {
  .about-header-headline-container h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 750px) {
  .about-header-headline-container {
    width: 70%;
  }

  .about-headline-wrapper {
    margin: 150px auto;
  }
  .about-header-headline-container h1 {
    font-size: 2.1rem;
  }

  .about-welcome-container h2,
  .about-welcome-container h3 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    max-width: 700px;
  }

  .about-welcome-container {
    margin: 30% auto 50px auto;
    position: relative;
  }

  .about-welcome-container::before {
    content: "";
    display: block;
    width: 8%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .about-welcome-container::after {
    content: "";
    display: block;
    width: 8%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (min-width: 900px) {
  .about-welcome-container {
    margin: 20% auto 100px auto;
    position: relative;
  }

  .about-welcome-container::before,
  .about-welcome-container::after {
    width: 20%;
  }

  .about-paragraph-container p {
    font-size: 1.2rem;
  }
}
