.class-page {
  width: 90vw;
  max-width: 700px;
  margin: 50px auto;
  padding: 1.5rem;
  background-color: var(--yellow);
  border-radius: 20px;
  border: 1px solid black;
}

.class-header {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
}

.class-table {
  margin: 0 auto;
  text-align: center;
}

.class-table-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}

.class-table-header h3 {
  font-family: "Fira Mono", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.col1 {
  grid-column: 1/2;
}
.col2 {
  grid-column: 2/3;
}
.col3 {
  grid-column: 3/4;
}
