.coachingComp-container {
  width: 100vw;
  max-width: 900px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.coaching-summup-wrapper {
  margin-bottom: 100px auto;
}

.coachingComp-container p {
  padding: 1.5rem;
  max-width: 650px;
}

.coachingComp-container h2 {
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .coachingComp-container h1 {
    font-size: 1.8rem;
  }

  .coachingComp-container h2 {
    font-size: 1.7rem;
  }

  .coachingComp-container p {
    font-size: 1.2rem;
    max-width: 750px;
  }
}
