.coachingComp-container {
  width: 100vw;
  max-width: 900px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.coaching-header {
  max-width: 190px;
  top: 30%;
  line-height: 2.5rem;
}

.coaching-summup-wrapper {
  margin-bottom: 100px auto;
}

.coachingComp-container p {
  padding: 1.5rem;
  max-width: 650px;
}

.coachingComp-container h2 {
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem;
  font-size: 1.3rem;
}

.join-me-container {
  margin: 0 auto;
  text-align: center;
}

.join-me-container button {
  background-color: var(--pink);
  opacity: 0.7;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Fira Mono", sans-serif;
  cursor: pointer;
  z-index: 16;
  box-shadow: 5px 5px 10px 2px hsla(0, 0%, 27%, 0.377);
  transition: transform 0.2s ease-in;
}

.join-me-container button:hover {
  transform: skew(0.06turn, -30deg);
  opacity: 1;
}

@media screen and (min-width: 450px) {
  .coachingComp-container h1 {
    font-size: 1.8rem;
  }

  .coaching-header {
    max-width: 300px;
    line-height: 3rem;
  }

  .coachingComp-container h2 {
    font-size: 1.6rem;
  }

  .coachingComp-container p {
    font-size: 1.2rem;
    max-width: 750px;
  }
}
