.contact-page {
  width: 90vw;
  max-width: 600px;
  height: 80vh;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px auto 100px auto;
  background-color: var(--yellow);
  padding: 1.5rem;
  border-radius: 20px;
  text-align: center;
  border: 1px solid black;
}

.contact-page h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  margin: 50px 0;
  text-align: left;
  max-width: 400px;
  font-weight: 400;
}

.contact-page a {
  background-color: var(--pink);
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid black;
  transition: transform 0.2s ease-in;
  font-family: "Fira Mono", sans-serif;
}

.contact-page a:hover {
  box-shadow: 5px 5px 10px 2px hsla(0, 0%, 27%, 0.2);
}

.contact-page p {
  max-width: 400px;
}

@media screen and (min-width: 750px) {
  .contact-page h1 {
    font-size: 1.8rem;
  }
}
