header {
  width: 100vw;
  /* height: 100vh; */
  max-height: 700vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  position: relative;
}

.header-img {
  /* box-shadow: 5px 5px 10px 2px hsla(0, 0%, 27%, 0.15); */
  opacity: 0;
  animation: header-img var(--header-img-load-time) ease-out
    var(--header-img-wait-time);
  animation-fill-mode: forwards;
}

.header-img-container {
  margin: -8vh 0 0 0;
  padding: 0;
  z-index: 2;
  width: 100vw;
  max-width: 1200px;
  position: relative;
  text-align: center;
}

.header-headline-container {
  position: absolute;
  top: 30%;
  left: 3%;

  width: 97%;

  opacity: 0;
  transform: translateY(-10%);
  animation: header-headline-smallscreen
    var(--header-headlines-smallscreen-load-time) ease-out
    var(--header-headlines-smallscreen-wait-time);
  animation-fill-mode: forwards;
}

.header-headline-container h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--yellow);
  text-align: left;
}

.header-headline-container h2 {
  font-family: "Fira Mono", sans-serif;
  font-size: 1.2rem;
  color: var(--yellow);
  font-weight: 400;
  text-align: left;
}

.header-btn-container {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;

  opacity: 0;
  animation: header-btn var(--header-btn-load-time) ease-out
    var(--header-btn-wait-time);
  animation-fill-mode: forwards;
}

header button {
  background-color: var(--pink);
  opacity: 0.7;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Fira Mono", sans-serif;
  cursor: pointer;
  z-index: 16;
  box-shadow: 5px 5px 10px 2px hsla(0, 0%, 27%, 0.377);
  transition: transform 0.2s ease-in;
}

header button:hover {
  transform: skew(0.06turn, -30deg);
  opacity: 1;
}

@media screen and (min-width: 450px) {
  .header-headline-container h1 {
    font-size: 1.8rem;
  }

  .header-headline-container h2 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 750px) {
  .header-headline-container {
    opacity: 0;
    transform: skew(0turn, 18deg);
    animation: header-headlines var(--header-headlines-load-time) ease-out
      var(--header-headlines-wait-time);
    animation-fill-mode: forwards;
  }

  .header-headline-container h1 {
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .header-headline-container h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  .design-shape-container {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    max-width: 900px;
    height: 80vh;
    max-height: 700px;
    top: 8%;
    background: #f7e17c;
    z-index: -5;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0%);
    animation: header-shape-medium-screen var(--header-shape-load-time) ease-out
      var(--header-shape-wait-time);
    animation-fill-mode: forwards;
  }

  header button {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 900px) {
  .header-headline-container h1 {
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .header-headline-container h2 {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .header-headline-container {
    left: 15%;
    width: 100vw;
  }

  .design-shape-container {
    max-width: 1200px;
    height: 900px;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 0%);
    animation: header-shape-big-screen var(--header-shape-load-time) ease-out
      var(--header-shape-wait-time);
    animation-fill-mode: forwards;
  }
}

@keyframes header-headline-smallscreen {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes header-headlines {
  0% {
    transform: skew(0turn, 18deg);
    opacity: 0;
  }
  100% {
    transform: skew(0turn, 0deg);
    opacity: 1;
  }
}

@keyframes header-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-shape-medium-screen {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 87%);
  }
}

@keyframes header-shape-big-screen {
  0% {
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 0%);
  }
  100% {
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 87%);
  }
}

@keyframes header-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
