@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Lato:wght@300;400;900&family=Fira+Mono:wght@400;500;700&family=Pacifico&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS  */
  --faded-green: #bcc8ce;
  --yellow: #f6e17c;
  --pink: #f76c6c;
  --fadedpink: hsla(0, 90%, 70%, 0.7);
  --green: #b3c083;

  /* ANIMATION TIMINGS */

  --header-headlines-wait-time: 1500ms;
  --header-headlines-load-time: 1200ms;

  --header-headlines-smallscreen-wait-time: 1500ms;
  --header-headlines-smallscreen-load-time: 750ms;

  --header-img-wait-time: 500ms;
  --header-img-load-time: 500ms;

  --header-shape-wait-time: 1200ms;
  --header-shape-load-time: 1400ms;

  --header-btn-wait-time: 3000ms;
  --header-btn-load-time: 750ms;
}

body {
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100vw;
  background: rgb(188, 200, 206);
  background: linear-gradient(
    0deg,
    rgba(188, 200, 206, 1) 0%,
    rgba(153, 173, 184, 1) 75%
  );
}

a {
  color: unset;
  text-decoration: none;
}
