nav {
  width: 100vw;
  height: 8vh;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.nav-list-1 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  padding-bottom: 20%;
  background-color: var(--green);
  background-image: url(../images/nav_div_background.png);
  background-size: cover;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  z-index: 11;
  margin: 0;
  padding-right: 1.5rem;
  transform: translateY(-100vh);
  transition: transform 0.5s ease-in;
}

.nav-list-1 li {
  pad: 1.5rem;
  list-style: none;
  font-family: "Fira Mono", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--pink);
}

.show {
  transform: translateY(0vh);
}

.navlinks2-container {
  display: none;
}

nav a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav button,
:active :visited :hover {
  background-color: unset;
  border: none;
}

nav button {
  cursor: pointer;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 80%;
  height: max-content;
  margin: 0 auto;
}

.nav-icon-container a,
.nav-icon-container button {
  display: block;
  font-size: 2.5rem;
}

.nav-icons-one a,
.nav-icons-one button {
  color: var(--yellow);
}

.nav-icons-two a,
.nav-icons-two button {
  color: rgba(0, 0, 0, 0.6);
}

.menu-icon-container {
  position: fixed;
  right: 1.5rem;
  z-index: 10;
}

@media screen and (min-width: 690px) {
  .menu-icon-container {
    display: none;
  }

  .li-item-small-screen {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: 2fr max-content 2fr;
    justify-content: center;
    align-items: center;
    display: relative;
  }

  .navlinks1-container {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    width: unset;
    height: unset;
  }

  .logo-container {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 1.5rem;
  }

  .navlinks2-container {
    display: block;
    grid-column: 3/4;
    grid-row: 1/2;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
  }

  .nav-list-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-image: unset;

    transform: translateY(0vh);

    background-color: unset;
    position: unset;
    width: unset;
    height: unset;
  }

  .nav-list-1 li {
    font-family: unset;
    font-weight: unset;
    font-size: unset;
    color: unset;
  }

  .nav-list-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  nav li {
    list-style: none;
    padding: 0 1.5rem;
    margin: 0;
    letter-spacing: 2px;
  }

  nav li:hover {
    color: var(--pink);
    font-weight: bold;
  }
}
